header{
    margin-bottom: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-link{
    margin-left: 30px;
}
main{
    display: flex;
}
section{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
aside {
    padding-left: 15px;
    margin-left: 15px;
    background-color: lightgray;
}
.aside-p{
    line-height: 100px;
    font-style: italic;
}
img{
    max-height: 300px
} 
footer{
    margin-top: 200px;
    text-align: center;
}
  